
.container {width:99%}

.btn {
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.createPoll{
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.selectPoll {
    clear: both;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.pollSelectBtn {
    vertical-align: middle;
    margin: 2% 2% 2% 2%;
    width:120px;
    height:30px;
    overflow: hidden;
    float: left;
}

.voteDiv {margin: 0 3px}

